.container{
padding: 20px;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    background-color: lightgray;

}

.form{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    width: 30%;

}
.form input{
    border: none;
    height: 25px;
}
